.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Poetry
poetry.lock

# Virtual Environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Output data
data/*.csv

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/
